@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    clear:both;
    content:'';
    display:table;
}

header{
    
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    
    
}

h1{
    color:#e53170;
    font-family: 'Fredoka One', cursive;
    padding: 20px;


    
    
}

p{
   
    font-family: 'Fredoka', sans-serif;
    
    
}
.columns{

    width: 80%;
    margin: 0 auto;
    padding: 110px;
    padding-top: 30px;
}

.col{
    
    float: left;
    width: calc(100%/3);
    text-align: center;
    
    
    

}



.card img:first-child{
    
    height: 70px;
    float: left;

}


.card div:nth-child(2){
    
    color: white;
    font-size: 10px;
    font-family:'Fredoka One', cursive;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding: 5px;
}
.card div:nth-child(3){
    
    color: white;
    font-size: 12px;
    padding: 3px;
    text-align: left;
    font-family:'Fredoka One', cursive;
}
  
    

.card div:nth-child(4){
    
    color:rgb(140, 204, 225);
    font-size: 11px;
    padding: 4px;
    text-align: left;
    font-family:'Fredoka One', cursive;
}


.card {

    width: 250px;
    float: left;
    background-color: black;

}



